body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
    list-style-type: square;
}

img {
    max-width: 100%;
    width:auto;
}

a {
    color: #4D74D1;
    font-size: 18pt;
}

hr {
    border: 0;
    color: #4D74D1;
    background-color:#4D74D1;
    height: 2px;
    margin-top: 20px;
    

}

h1 {
    color: #4D74D1;
}

h2 {
    color: #4D74D1;
}



.logo {
    padding-bottom: 0px;
    padding-top: 0px;
   
}
.kleur1 {
    background-color: #322A26;
    width: 100px;
    height: 100px;
    color: white;
    border-radius: 10px;
    margin: 5px;
}
.kleur2 {
    background-color: #4D74D1;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin: 5px;
}
.kleur3 {
    background-color:  #DEE2D6;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin: 5px;
}
.kleur4 {
    background-color: #EBE9E9;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin: 5px;
}

.kleuren {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0px;
    list-style-type: none;
    text-align: center;
    
}   
    
  .Titel {
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-size: 24pt;
    line-height: 0em;
    margin-bottom: 0px;


}

.plattetekst {
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14pt;
    line-height: 0em;
    margin-bottom: 0px;
}

.typo {
    display: inline-block;
    margin-right: 20px;
    line-height: 1.5em;

}   

.button {
    display: inline-block;
    background: #4d75d1;
    padding: 20px 40px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: black 0 1px 0;
    color: #ffffff;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    vertical-align: middle;
    margin-bottom: 10px;
}

.button:hover {
    text-shadow: #000000 0 1px 0;
    background: #3e779d;
    color: #fff;
}

.texturen {
    display: inline-block;
    max-width: 25%;
    max-height: 25%;
    
}

.afbeelding {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 30px;
    

        
}

